# Secrets
/.env.local

# Careful, those are not handled by the Go bot nor Docker, they're just for convenience
/.env.*.local

# Docker Override
/compose.override.yaml

# Dev binaries
/mjbot*

# IDEs
/.idea/
